body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:308px;
  width:320px;
  height:116px;
  font-size:18px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:116px;
}
#u1 {
  position:absolute;
  left:20px;
  top:20px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:15px;
  width:63px;
  height:18px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:5px;
  top:9px;
  width:11px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:281px;
  top:10px;
  width:27px;
  height:28px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:49px;
  width:320px;
  height:260px;
  font-size:18px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:126px;
  top:110px;
  width:66px;
  height:66px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u14 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:14px;
  top:213px;
  width:294px;
  height:69px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:69px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:153px;
  top:78px;
  width:17px;
  height:32px;
  font-size:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:32px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:14px;
  top:330px;
  width:284px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:15px;
  top:353px;
  width:290px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u22 {
  position:absolute;
  left:20px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
